interface f0/0
ip address {{item.ospf_interface_ipaddr}} {{item.ospf_interface_ipaddr_mask}}



interface loopback 0
ip address {{item.loop0_ipaddr}} {{item.loop0_ipaddr_mask}}

interface loopback 1
ip address {{item.loop1_ipaddr}} {{item.loop1_ipaddr_mask}}


router ospf 11


network {{item.ospf_interface_ipaddr}} 0.0.0.0 area 0
network {{item.loop0_ipaddr}} 0.0.0.0 area 0
network {{item.loop1_ipaddr}} 0.0.0.0 area 0